<% if levels.any? %>
<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th class="col col-number">Номер</th>
        <th class="col col-space">Площадь</th>
        <th class="col col-free_space">Свободная площадь</th>
        <th class="col col-rooms">Количество помещений</th>
        <th class="col col-passport"></th>
      </tr>
    </thead>
    <tbody>
      <% levels.each do |level| %>
      <tr id="level_<%= level.id %>">
        <td class="col col-number"><%= link_to level.number, edit_admin_level_path(level) %></td>
        <td class="col col-space"><%= space_with_metrics level.space %></td>
        <td class="col col-free_space"><%= space_with_metrics level.free_space %></td>
        <td class="col col-rooms"><%= link_to level.rooms.size, admin_level_path(level) %></td>
        <td class="col col-passport">
          <%= %>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
</div>


<% else %>
<div class="blank_slate_container" id="no_levels">
  <span class="blank_slate">
    <span><%= t('activerecord.models.level', count: 10) %> отсутствуют</span>
    <small><%= link_to 'Добавить этаж', new_admin_level_path(building: building.id) %></small>
  </span>
</div>
<% end %>